body {
  margin: 0px;
  padding: 0px;
  background-color: #e8eaf6;
  font-family: 'RobotoDraft', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
}

todo-app{
  width: 100%;
  margin: 0 auto;
  display: block;
}

p.fallback {
	padding: 10px;
}
