<!DOCTYPE html>

<!-- HTML -->
<!-- (moved to index.html) -->

<!-- JS - Interaction -->
<script>
  (function(document){

    var TodoItemController = function(context){
      this.context = context;

      // Create a shadow root
      this.shadow = context.createShadowRoot();

      // stamp out our template in the shadow dom
      var template = document.querySelector("#todo-item-template").content.cloneNode(true);
      this.shadow.appendChild(template);

      // Pick the checkbox
      this.setupListeners();
    };

    TodoItemController.prototype.setupListeners = function(){
      // get a reference to our checkbox inside the Shadow DOM
      var checkbox = this.shadow.querySelector("input[type='checkbox']");

      // Attach event listener
      checkbox.addEventListener('click', function(e){
        this.checkboxClicked(e);
      }.bind(this));
    };

    TodoItemController.prototype.checkboxClicked = function(e){
      var checkbox = this.shadow.querySelector("input[type='checkbox']");

      if(checkbox.checked){
        this.context.setAttribute('done', 'done');
      }
      else{
       this.context.removeAttribute('done');
      }
    };

    TodoItemController.prototype.toggleDone = function(isDone){
      this.shadow.querySelector("p.title").classList.toggle('done', isDone);

      if(isDone){
        this.shadow.querySelector("p.checkbox > input").setAttribute('checked', 'checked');
      }
      else{
        this.shadow.querySelector("p.checkbox > input").removeAttribute('checked');
      }
    };

    TodoItemController.prototype.attributeChangedCallback = function(attr, oldVal, newVal){
      if(attr == "done"){
        this.toggleDone(!!newVal);
      }
    };

    TodoItemController.prototype.attachedCallback = function(){
      this.toggleDone(this.context.hasAttribute('done'));
    };

    // Register the element in the document
    var TodoItem = Object.create(HTMLElement.prototype);
    TodoItem.createdCallback = function(){
      this.controller = new TodoItemController(this);
    };

    TodoItem.attributeChangedCallback = function(attr, oldVal, newVal){
      this.controller.attributeChangedCallback(attr, oldVal, newVal);
    };

    TodoItem.attachedCallback = function(){
      // this.controller.attachedCallback();
    };

    // register out todo-item tag with the document
    document.registerElement('todo-item', {prototype: TodoItem});

})(document);
</script>
