<!-- Other dependencies -->
<link rel="import" href="../todo-item/component.html">

<!-- HTML -->
<template id="template">

  <!-- component styling -->
  <style>
    #addBtn {
      width: 200px;
      padding: 10px;
    }

    .todo-container {
      width: 90%;
      margin: 0 auto;
      height: 500px;
      overflow-y: auto;
      padding: 10px;
    }

    todo-item{
      margin-bottom: 10px;
    }

    todo-item[done]{
      opacity: .5;
    }

    .new-item-container {
      width: 90%;
      margin: 0 auto;
      padding-bottom: 10px;
    }

    .new-item {
      width: 80%;
      outline: none;
      font-size:18px;
      padding:10px 10px 10px 5px;
      display:block;
      border:none;
      margin-top: 10px;
      border-bottom:1px solid #757575;
      background: none;
    }

    .new-item:focus {
      border-bottom:1px solid #4059A9;
    }

    .toolbar {
      background: #1a237e;
      height: 64px;
      width: 100%;
      color: white;
    }

    .toolbar h1 {
      font-weight: 300;
      margin: 0 14px 8px;
      line-height: 64px;
      font-size: 1.3em;
    }

    .toolbar.bottom {
      position: fixed;
      bottom: 0;
      color: white;
      padding: 5px 5px 35px 5px;
    }

    .toolbar a {
      color: #E1F5FE;
    }
  </style>

  <!-- Toolbar -->
  <div class="toolbar">
    <h1>Web Components <strong>Todos</strong></h1>
  </div>

  <!-- Input field for new todo item -->
  <div class="new-item-container">
    <input type="text" class="new-item" placeholder="What would you like to do?" />
  </div>

  <!-- render the list of todo items -->
  <!--<div class="todo-container"></div>-->
  <div class="todo-container"></div>


  <!-- Toolbar -->
  <div class="toolbar bottom">
    <p>A demo using <strong>native</strong> Custom Elements, Shadow DOM, HTML Imports, &lt;template&gt; &amp; localStorage. Thx to <a href="https://github.com/Tmw">Tmw</a> for starting this. <a href="https://github.com/addyosmani/componentized-todo">Source</a></p>
  </div>

</template>

<!-- Interaction -->

<script>
  (function(document, owner){

    var TodoAppController = function(context){
      // save the context to the custom element
      this.context = context;

      // Create an empty collection for the todo items
      // or load existing todos from localStorage
      this.collection = JSON.parse(localStorage.getItem('todos')) || [];

      // Create a shadow root
      this.shadow = this.context.createShadowRoot();

      // stamp out our template in the shadow dom
      var template = owner.querySelector("#template").content.cloneNode(true);
      this.shadow.appendChild(template);

      // Setup event listener
      this.setupListeners();

      // Initial render of the list
      this.renderList();
    };

    TodoAppController.prototype.setupListeners = function(){
      // Get a reference to the input field inside our shadow DOM
      var input = this.shadow.querySelector("input.new-item");

      // Attach a event listener to our input element
      input.addEventListener('keydown', function(e){

        if(e.which == 13){ // return key hit
          if(input.value.trim() == "") return;

          // Add our item
          this.addItem(input.value);

          // Empty our input view
          input.value = "";
        }

      }.bind(this));
    };

    TodoAppController.prototype.addItem = function(title, done){
      if(!done) done = false;

      // Define a item model
      var itemModel = {title: title, done: done};

      // Add itemModel to the beginning of our collection
      this.collection.unshift(itemModel);

      // trigger event
      var addedEvent = new CustomEvent('added', itemModel);
      this.context.dispatchEvent(addedEvent);

      // Re-render the todo list
      this.renderList();
    };

    TodoAppController.prototype.renderList = function(){
      // Note: renderList() can be significantly optimized. Leaving
      // as a Todo for now.

      // Get a reference to the todo container within the shadow DOM
      var todoContainer = this.shadow.querySelector(".todo-container");
      var self = this;

      // Clear current content
      while(todoContainer.firstChild){
        todoContainer.removeChild(todoContainer.firstChild)
      }

      // Render new items
      for(var i=0; i < this.collection.length; i++){
        // let document create a new item tag
        var todoItem = document.createElement('todo-item');

        // Set the content of the tag
        todoItem.innerHTML = this.collection[i].title;
        // Set the done state of the todo item
        this.collection[i].done && todoItem.setAttribute('done', 'done');
        todoItem.shadowRoot.querySelector('input').checked = this.collection[i].done;
        todoItem.id = i;

        // Event handlers for todo items
        todoItem.addEventListener('click', function(e){
          var entry = self.collection[this.id];
          var done = this.shadowRoot.querySelector('input').checked;
          entry.done = done;
          self.collection[this.id] = entry;
          localStorage.setItem('todos', JSON.stringify(self.collection));
        });

        // Append child to the container inside the shadow dom
        todoContainer.appendChild(todoItem);
      }

      localStorage.setItem('todos', JSON.stringify(this.collection));
    };

    // Register the element in the document
    var TodoApp = Object.create(HTMLElement.prototype);
    TodoApp.createdCallback = function(){
      this.controller = new TodoAppController(this);
    };

    // Register our todo-item tag with the document
    document.registerElement('todo-app', {prototype: TodoApp});

  })(document, (document._currentScript || document.currentScript).ownerDocument);
</script>
